@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Thin;
    src: url(../fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: fa;
    src: url(../fonts/fa/fa-brands-400.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.25rem;
    font-family: Montserrat-Regular, sans-serif;
    color: #040a2c;
}

/* BASICS */

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}


/* LAYOUTS */

.main-layout {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

/* SCREENS */

.darken-screen,
.editor-darken-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.651);
    z-index: 5;
    opacity: 0;
    transition: opacity 0.5s;
    cursor: pointer;
    pointer-events: none;
}

body.menu-open .darken-screen {
    pointer-events: auto;
    opacity: 1;
}

.editor.share-modal-open .editor-darken-screen {
    pointer-events: auto;
    opacity: 1;
}



/* MODALS */

.share-modal {
    position: fixed;
    z-index: 10;
    width: 190px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.4s;
    pointer-events: none;
}

.editor.share-modal-open .share-modal {
    pointer-events: auto;
    opacity: 1;
}

.share-modal .btn-exit-share {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
    font-family: inherit;
    color: #ff7f00;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s;
}

.share-modal .btn-exit-share:hover {
    color: #040a2c;
}

.share-modal .btns-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.share-modal button {
    border: none;
    background-color: #ff7f00;
    min-width: 130px;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 15px;
    font-family: inherit;
    font-size: 1.2rem;
    color: white;
    transition: background-color 0.3s;
}

.share-modal button:first-child {
    margin-bottom: 0.5rem;
}

.share-modal button:hover {
    background-color: #040a2c;
}

/* MAIN HEADER */

.header-backround {
    background-color: #ff7f00;
}

.main-header {
    height: 4.125em;
}


.main-nav a {
    padding: 0 0.5rem;
    color: white;
}


.main-nav li:last-child a {
    padding-inline-end: 0;

}

.main-nav a:hover {
    color: #040a2c;
    transition: color 0.2s;
}



/* GALLERY */

.gallery {
    display: block;
}



.gallery .keywords {
    height: 6.25rem;
}

.gallery .gallery-background {
    background-color: #e3e3e3;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.imgs-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.imgs-container>*:hover {
    cursor: pointer;
    box-shadow: 4px 5px 12px 5px #040a2c;
    transform: scale(1.02);
    transition: transform 0.3s, box-shadow 0.3s;
}


.imgs-container img {
    width: 100%;
}




/* EdITOR */

.editor {
    display: none;
    background-color: #e3e3e3;
}



.editor main {
    padding-top: 25px;
    padding-bottom: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.canvas-container {
    width: 100%;
    margin-bottom: 10px;
}



.edits-container .edit-optns {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
        "input input input input input"
        "  .     swap  add   delete  ."
        "larger  smaller left center right"
        "font   font  font stroke  color"
        ". share share share . "
    ;
    gap: 0.2rem;
    justify-items: center;

}

.edits-container .edit-optns>* {
    margin-bottom: 0.4rem;
}

.edits-container .edit-optns>*:not(select, input):hover {
    background-color: #ff7f00;
    transition: background-color 0.25s;
}

.edits-container .edit-optns select{
    cursor: pointer;
}



.edits-container .text-input {
    grid-area: input;
    justify-self: stretch;
    border-radius: 20px;
    border: none;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-inline-start: 20px;
    font-size: 1.3rem;
    font-family: inherit;
}

.edits-container .swap {
    grid-area: swap;
}

.edits-container .add {
    grid-area: add;
}

.edits-container .delete {
    grid-area: delete;
}

.edits-container .left {
    grid-area: left;
}

.edits-container .center {
    grid-area: center;
}

.edits-container .right {
    grid-area: right;
}

.edits-container .larger {
    grid-area: larger;
}

.edits-container .smaller {
    grid-area: smaller;
}

.edits-container .font-select {
    grid-area: font;
    border: none;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    height: 2.5rem;
    width: 100%;

}

.edits-container .stroke {
    grid-area: stroke;
}

.edits-container .color {
    grid-area: color;
}

.edits-container .btn-share {
    grid-area: share;
    justify-self: stretch;
    border-radius: 20px;
    border: none;
    font-size: inherit;
    font-family: inherit;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #ff7f00;
    color: white;

}

.edits-container .btn-share:hover {
    background-color: #040a2c;
}


.btns-edit {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 15px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.edits-container img {
    width: 80%;
}

.color-inputs {
    visibility: hidden;
}

.color-labels {
    position: relative;
}

.color-imgs {
    position: absolute;
}



/* ABOUT */

.gallery .about {
    margin-top: 77px;
    display: flex;
    flex-direction: column;
}

.about .main-img {
    border-radius: 50%;
    max-width: 250px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.about .about-info {
    flex-direction: column;
    align-items: center;
}

.about-info h2 {
    margin-bottom: 0.625rem;
    color: #ff7f00;
}

.about-info p {
    text-align: center;
    margin-bottom: 1.25rem;
}

.about-info .social-nav {
    margin-bottom: 2.5rem;
}

.social-nav {
    gap: 1.25rem;
}

.social-nav>* {
    color: #ff7f00;
    transition: color 0.25s;
}

.social-nav>*:hover {
    color: #040a2c
}

.fa {
    font-family: fa;
    font-size: 2.5rem;
}

.fa.facebook::before {
    content: "\f082";
}

.fa.linkedin::before {
    content: "\f08c";
}

.fa.github::before {
    content: "\f092";
}




/* FOOTER */

.main-footer {
    height: 200px;
    background-color: #ff7f00;
}

.footer-container>* {
    margin-bottom: 1rem;
}

.footer-container small {
    color: white;
    font-family: Montserrat-Thin;
}


/* HELPERS */


.item-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* flex helpers */

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

/* list helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* BREAKPOINTS */

@media screen and (max-width: 600px) {
    .main-nav ul {
        position: fixed;
        flex-direction: column;
        align-content: flex-start;
        background-color: #ff7f00;
        top: 50px;
        left: 20px;
        display: block;
        width: 90%;
        height: 20%;
        z-index: 10;
        transform: translateY(-150%);
        transition: transform 0.5s;
        border-radius: 10px;
    }

    .main-header .btn-hamburger {
        background-color: white;
        width: 1.8rem;
        height: 1.8rem;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 550;
    }

    .main-header .btn-hamburger:hover {
        background-color: #040a2c;
        color: white;
    }

    body.menu-open .main-nav ul {
        transform: translateY(0);
    }

    .btn-exit {
        position: absolute;
        z-index: 10;
        top: 5px;
        right: 15px;
        cursor: pointer;
    }

    .main-nav>* {
        display: block;
        text-align: start;
        padding-inline-start: 20px;
    }

    .main-nav>*:first-child {
        padding-top: 20px;
    }

    .imgs-container {
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .edits-container .btn-share {
        width: 120px;
        margin-inline-start: 25px;
    }
}


@media screen and (min-width: 600px) {
    .main-layout {
        max-width: 560px;
        padding: 0;
        margin: 0 auto
    }

    .main-nav .hamburger-logo {
        display: none;
    }

    .main-header .btn-hamburger {
        display: none;
    }

    .btn-exit {
        display: none;
    }

    .main-nav li:last-of-type {
        border-inline-start: 1px solid #040a2c;
    }

    .imgs-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .share-modal {
        width: 300px;
        height: 180px;
    }

    .share-modal .btns-container {
        flex-direction: row;
    }

    .share-modal button:first-child {
        margin-bottom: 0;
    }

    .editor main {
        padding: 25px 0 25px;
        flex-direction: row;
    }

    .canvas-container {
        width: 50%;
        margin-bottom: unset;
    }

    .edits-container {
        width: 50%;
        margin: auto;
        padding-inline-start: 30px;
        padding-inline-end: 70px;
    }

    .edits-container .edit-optns {

        grid-template-areas:
            "input input input input input"
            "  .     swap  add   delete  ."
            "larger  smaller left center right"
            "font   font  font stroke  color"
            ". . . share share"
        ;
        gap: 0.5rem;
        justify-items: center;
    }

    .edits-container .swap {
        margin-bottom: 1.2rem;
    }

    .gallery .about {
        margin-bottom: 20px;
    }

    .about .main-img {
        max-width: 350px;
    }
}

@media screen and (min-width: 780px) {
    .main-layout {
        max-width: 700px;
        padding: 0;
        margin: 0 auto
    }

    .imgs-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .gallery .about {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-bottom: 100px;
    }

    .about .about-info {
        margin-inline-start: 40px;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .about h2 {
        color: inherit;
    }

    .about-info p {
        text-align: left;
    }

    /* Editor */

    .edits-container .text-input {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }

    .btns-edit {
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 20px;
    }

    .edits-container .btn-share {
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
    }

    .edits-container .font-select {
        height: 3.75rem;
    }

}

@media screen and (min-width: 1000px) {
    .main-layout {
        max-width: 920px;
    }

    .imgs-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .gallery .about {
        padding: 0 85px;
        margin-top: 77px;
        margin-bottom: 165px;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

@media screen and (min-width: 1180px) {
    .main-layout {
        max-width: 1100px;
    }

    .imgs-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}