@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Thin;
    src: url(../fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: fa;
    src: url(../fonts/fa/fa-brands-400.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.25rem;
    font-family: Montserrat-Regular, sans-serif;
    color: #040a2c;
}

/* BASICS */

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}


/* LAYOUTS */

.main-layout {
    max-width: 1100px;
    padding: 0;
    margin: 0 auto
}



/* MAIN HEADER */

.header-backround {
    background-color: #ff7f00;
}

.main-header {
    height: 4.125em;
}

.main-nav li:last-child {
    border-inline-start: 1px solid #040a2c;
}

.main-nav a {
    padding: 0 0.5rem;
    color: white;
}

.main-nav li:last-child a {
    padding-inline-end: 0;

}

.main-nav a:hover {
    color: #040a2c;
}



/* GALLERY */

.gallery {
    display: block;
    /* position: relative;
    left:100%;
    transition: left .6s; */
}



.gallery .keywords {
    height: 6.25rem;
}

.gallery .gallery-background {
    background-color: #e3e3e3;
}

.imgs-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
}


.imgs-container img {
    width: 100%;
}




/* EdITOR */

.editor {
    width: 100vw;
    max-height: 100vh;
    padding: 0;
    margin: auto;
    display: none;
}

.editor main {
    width: 90%;
    max-height: 80%;
    border: 1px solid black;
    margin: auto;
}

.editor header {
    max-height: 20%;
}

.canvas-container {
    width: 50%;
    /* max-height: 100%; */
    /* border: 1px solid black; */
}

.edits-container {
    width: 50%;
    margin: auto;
}

.btns-edit {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    background-color: white;
}

.input-color {
    display: none;
}


/* ABOUT */

.about {
    padding: 0 85px;
    margin-top: 77px;
    margin-bottom: 165px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.about .main-img {
    border-radius: 50%;
    max-width: 350px;
    /* max-height: ; */
}

.about .about-info {
    margin-inline-start: 40px;
    justify-content: flex-end;
    align-items: flex-start;
}

.about-info h2 {
    margin-bottom: 0.625rem;
}

.about-info p {
    text-align: left;
    margin-bottom: 1.25rem;
}

.about-info .social-nav {
    margin-bottom: 2.5rem;
}

.social-nav {
    gap: 1.25rem;
}

.social-nav>* {
    color: #ff7f00
}

.social-nav>*:hover {
    color: #040a2c
}

.fa {
    font-family: fa;
    font-size: 2.5rem;
}

.fa.facebook::before {
    content: "\f082";
}

.fa.linkedin::before {
    content: "\f08c";
}

.fa.github::before {
    content: "\f092";
}




/* FOOTER */

.main-footer {
    height: 200px;
    background-color: #ff7f00;
}

.footer-container>* {
    margin-bottom: 1rem;
}

.footer-container small {
    color: white;
    font-family: Montserrat-Thin;
}


/* HELPERS */


.item-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* flex helpers */

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

/* list helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}